# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# Tests
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
